* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 40pt;
}

.MuiPaper-elevation5 {
  box-shadow: 0 14px 28px rgba(16, 137, 255, 0.1), 0 10px 50px rgba(16, 137, 255, 0.1) !important;
}

a:hover {
  color: #b1aaaa;
}